/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 20px;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 2s ease-in-out;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #009688;
  color: #fff;
  text-align: center;
}

.middle-section {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.right-section {
  width: 20%; /* Set the width to 20% */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  overflow-y: auto;
  position: sticky;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
